.waitingForGetRequest {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-waiting {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 50px;
}
