.waitingForGetRequest {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-waiting {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 50px;
}
@media (min-width: 0px) and (max-width: 359px) {
  .waitingForGetRequest {
    margin: 0 16px;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  .waitingForGetRequest {
    margin: 0 34px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .waitingForGetRequest {
    padding: 0 60px;
  }
}
