@import '../../theme.scss';
.card-inner {
  background: $white;
  width: 370px;
  height: 254px;
  margin-bottom: 29px;
  text-align: center;
}
.card-item {
  padding: 20px;
  border-radius: 50%;
}
.card-inner p {
  margin-bottom: 5px;
}

@media (min-width: 360px) and (max-width: 767px) {
  .card-inner {
    width: 348px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card-inner {
    width: 344px;
  }
}
