@import '../../theme.scss';
.card-inner {
  background: $yellow;
  width: 370px;
  height: 254px;
  border: 1px solid black;
  margin-bottom: 29px;
  text-align: center;
}
.card-item {
  padding: 20px;
  border-radius: 50%;
}
.card-inner p {
  margin-bottom: 5px;
}
